/* BASICS START*/

:root {
    --yellow: #FFFF00;
    --black: #111;
    --white: #F8F0ED;
}

@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('fonts/AmnestyTradeGothic-BdCn20.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('fonts/AmnestyTradeGothic-Cn18.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('fonts/AmnestyTradeGothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('fonts/AmnestyTradeGothic-Cn18Obl.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}


button {
    margin-top: 575px;
    color: var(--black);
    border-radius: 30px;
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
}

h1 {
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    text-transform: uppercase;
    background-color: var(--yellow);
    color: var(--black);
    display: inline-block;
    padding: 5px;
}

h2 {
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    text-transform: uppercase;
    color: var(--white);
}

h3 {
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 45px;
    text-transform: uppercase;
    color: var(--white);
}

p {
    font-family: 'AmnestyTradeGothic';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--white);
}

/* BASICS SLUT */


/* KNAPPER START */
.knap1 {
    padding: 12px 40px;
    position: absolute;
    top: 17%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.knap2 {
    padding: 12px 80px;
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.knap3 {padding: 12px 80px;
    position: absolute;
    top: 115%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.knap4 {
    padding: 12px 80px;
    position: absolute;
    top: 115%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.fortsætknap {
    padding: 12px 70px;
    position: absolute;
    top: 227%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ida_valg1_knap {
    padding: 12px 80px;
    position: absolute;
    top: 270%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.ida_valg2_knap {
    padding: 12px 80px;
    position: absolute;
    top: 285%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.ida_valg3_knap {
    padding: 12px 80px;
    position: absolute;
    top: 300%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.ida_valg4_knap {
    padding: 12px 80px;
    position: absolute;
    top: 315%;
    left: 20%;
    transform: translate(-50%, -50%);
}

/* KNAPPER SLUT */


/* LANDING PAGE START */
.container {
    position: relative;
    width: 400px;
    height: 400px;
    top: 37%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.piece {
    position: absolute;
    opacity: 0;
    animation: flyIn 1.5s ease-out forwards;
}

.piece:nth-child(1) { top: -60px; left: 30px; animation-delay: 0.2s; }
.piece:nth-child(2) { top: 80px; left: -50px; animation-delay: 0.4s; }
.piece:nth-child(3) { bottom: -120px; left: 80px; animation-delay: 0.6s; }
.piece:nth-child(4) { bottom: -50px; right: 20px; animation-delay: 0.8s; }
.piece:nth-child(5) { bottom: 70px; right: 150px; animation-delay: 1.0s; }
.piece:nth-child(6) { bottom: 330px; right: 50px; animation-delay: 1.2s; }
.piece:nth-child(7) { bottom: 150px; left: 200px; animation-delay: 1.4s; }
.piece:nth-child(8) { bottom: 170px; right: 20px; animation-delay: 1.6s; }
.piece:nth-child(9) { bottom: 190px; right: 210px; animation-delay: 1.8s; }
.piece:nth-child(10) { bottom: -50px; right: 300px; animation-delay: 2.0s; }
.piece:nth-child(11) { bottom: 330px; right: 150px; animation-delay: 2.2s; }

@keyframes flyIn {
    0% { transform: translate(0, 0); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}

.overskrift1 {
    position: absolute;
    top: 6%;  
    left: 5%;
}

.overskrift2 {
    position: absolute;
    top: 14%; 
    left: 5%; 
}

.overskrift3 {
    position: absolute;
    top: 22%; 
    left: 5%;
}

.handwritten1 img {
    width: 250px;
    position: absolute;
    top: 14%; 
    left: 68%;
}

.handwritten2 img {
    width: 250px;
    position: absolute;
    top: 65%; 
    left: 9%;
}

.stjerne1 img {
    width: 30px;
    position: absolute;
    top: 73%; 
    left: 7%;
}

.stjerne2 img {
    width: 50px;
    position: absolute;
    top: 67%; 
    left: 5%;
}

.stjerne3 img {
    width: 50px;
    position: absolute;
    top: 10%; 
    left: 80%;
}

.stjerne4 img {
    width: 30px;
    position: absolute;
    top: 16%; 
    left: 83%;
}


.number3 img {
    width: 45px;
    position: absolute;
    top: 65%; 
    left: 62%;
}

.number1 img {
    width: 30px;
    position: absolute;
    top: 76%; 
    left: 67%;
}

.letterl img {
    width: 45px;
    position: absolute;
    top: 65%; 
    left: 67%;
}

.letteri img {
    width: 25px;
    position: absolute;
    top: 65%; 
    left: 71%;
}

.letterv img {
    width: 40px;
    position: absolute;
    top: 65%; 
    left: 73.5%;
}

.letters img {
    width: 55px;
    position: absolute;
    top: 75%; 
    left: 71%;
}

.letterk img {
    width: 55px;
    position: absolute;
    top: 76%; 
    left: 75%;
}

.letteræ img {
    width: 55px;
    position: absolute;
    top: 76%; 
    left: 79.5%;
}

.letterb img {
    width: 55px;
    position: absolute;
    top: 75.5%; 
    left: 83.5%;
}

.lettern img {
    width: 47px;
    position: absolute;
    top: 75%; 
    left: 87.5%;
}

.lettere img {
    width: 47px;
    position: absolute;
    top: 75%; 
    left: 91%;
}

/* LANDING PAGE SLUT */


/* 3 PERSONER SIDE START */
#mere-info {
    height: 150vh;
}

.personoverskrift {
    position: absolute;
    top: 107%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Adutportræt {
    width: 300px;
    position: absolute;
    top: 143%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.Aduttext {
    position: absolute;
    top: 172%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.Joseportræt {
    width: 300px;
    position: absolute;
    top: 140.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Josetext {
    position: absolute;
    top: 172%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Idaportræt {
    width: 340px;
    position: absolute;
    top: 143%;
    left: 78%;
    transform: translate(-50%, -50%);
}

.Idatext {
    position: absolute;
    top: 172%;
    left: 80%;
    transform: translate(-50%, -50%);
}
/* 3 PERSONER SIDE SLUT */


/* PRÆSENTATION SIDE */
.info-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

/* Ida */
.idaoverskrift {
    position: absolute;
    top: 217%;
    left: 52%;
}

.idaintro {
    width: 450px;
    position: absolute;
    top: 227%;
    left: 52%;
}

.ida_barn_1 {
    width: 300px;
    position: absolute;
    top: 230%;
    left: 25%;
}

.sikkerhedsnål {
    width: 220px;
    position: absolute;
    top: 218%;
    left: 18.9%;
    z-index: 1000;
}

.letteri2 {
    width: 35px;
    position: absolute;
    top: 278%; 
    left: 23%;
    rotate: 10deg;
}

.letterd {
    width: 60px;
    position: absolute;
    top: 279%; 
    left: 26%;
    rotate: 5deg;
}

.lettera {
    width: 50px;
    position: absolute;
    top: 278%; 
    left: 30.5%;
    rotate: 5deg;
}

.ida_håndskrevet {
    width: 200px;
    position: absolute;
    top: 260%; 
    left: 8%;
}

.replayicon {
    width: 40px;
    position: absolute;
    top: 286%; 
    left: 76.5%;
}

.starticon {
    width: 40px;
    position: absolute;
    top: 286%; 
    left: 80%;
}

.stjerne5 {
    width: 30px;
    position: absolute;
    top: 226%; 
    left: 83%;
}

.stjerne6 {
    width: 50px;
    position: absolute;
    top: 220%; 
    left: 80%;
}

/* PRÆSENTATION SLUT */


.second-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

/* Ida valg 1 */

.info4_overskrift {
    position: absolute;
    top: 320%;
    left: 13%;
}

.info4_valg1 {
    position: absolute;
    top: 334%;
    left: 13%;
}

.info4_valg2 {
    position: absolute;
    top: 350%;
    left: 13%;
}

.info4_valg3 {
    position: absolute;
    top: 365%;
    left: 13%;
}

.info4_valg4 {
    position: absolute;
    top: 380%;
    left: 13%;
}

.ida_teenager {
    width: 300px;
    position: absolute;
    top: 340%;
    left: 63%;
}

.clips_sølv {
    width: 250px;
    position: absolute;
    top: 320%;
    left: 65%;
}

.valg4_letter_s {
    width: 50px;
    position: absolute;
    top: 390%;
    left: 56%;
}

.valg4_letter_k {
    width: 50px;
    position: absolute;
    top: 392%;
    left: 60%;
}

.valg4_letter_a {
    width: 50px;
    position: absolute;
    top: 390%;
    left: 64%;
}

.valg4_letter_m {
    width: 50px;
    position: absolute;
    top: 392%;
    left: 68%;
}

.valg1_replay {
    width: 30px;
    position: absolute;
    top: 335%;
    left: 34%;
}

.valg1_starticon {
    width: 30px;
    position: absolute;
    top: 335%;
    left: 36.5%;
}

.valg2_replay {
    width: 30px;
    position: absolute;
    top: 351%;
    left: 42.5%;
}

.valg2_starticon {
    width: 30px;
    position: absolute;
    top: 351%;
    left: 45%;
}

.valg3_replay {
    width: 30px;
    position: absolute;
    top: 366%;
    left: 34.5%;
}

.valg3_starticon {
    width: 30px;
    position: absolute;
    top: 366%;
    left: 37%;
}

.valg4_replay {
    width: 30px;
    position: absolute;
    top: 381%;
    left: 39.5%;
}

.valg4_starticon {
    width: 30px;
    position: absolute;
    top: 381%;
    left: 42%;
}

.third-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.third-section-text {
    width: 350px;
    position: absolute;
    top: 320%;
    left: 63%;
}

.third-section_replayicon {
    width: 40px;
    position: absolute;
    top: 360%; 
    left: 81%;
}

.third-section_starticon {
    width: 40px;
    position: absolute;
    top: 360%; 
    left: 84.5%;
}

.third-section_ida-teenager {
    width: 300px;
    position: absolute;
    top: 343%; 
    left: 28.5%;
    z-index: 10;
}

.third-section_ida-barn {
    width: 300px;
    position: absolute;
    top: 325%; 
    left: 13.5%;
}

.third-section_tape1 {
    width: 200px;
    position: absolute;
    top: 336%; 
    left: 40.5%;
    z-index: 100;
}

.third-section_tape2 {
    width: 170px;
    position: absolute;
    top: 318%; 
    left: 10.5%;
    z-index: 100;
}

.third-section_letter-s {
    width: 50px;
    position: absolute;
    top: 390%; 
    left: 8%;
    z-index: 200;
}

.third-section_letter-m {
    width: 50px;
    position: absolute;
    top: 390%; 
    left: 12%;
    z-index: 200;
}

.third-section_letter-e {
    width: 50px;
    position: absolute;
    top: 390%; 
    left: 16%;
    z-index: 200;
}

.third-section_letter-r {
    width: 50px;
    position: absolute;
    top: 390%; 
    left: 20%;
    z-index: 200;
}

.third-section_letter-t {
    width: 35px;
    position: absolute;
    top: 390%; 
    left: 24%;
    z-index: 200;
}

.third-section_letter-e2 {
    width: 50px;
    position: absolute;
    top: 390%; 
    left: 27%;
    z-index: 200;
}

.third-section_button {
    padding: 12px 70px;
    position: absolute;
    top: 327%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fourth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.fifth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.sixth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}