/* BASICS START*/

:root {
    --yellow: #FFFF00;
    --black: #111;
    --white: #F8F0ED;
}

@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('fonts/AmnestyTradeGothic-BdCn20.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('fonts/AmnestyTradeGothic-Cn18.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('fonts/AmnestyTradeGothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('fonts/AmnestyTradeGothic-Cn18Obl.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

body {
    background-color: var(--black);
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}


button {
    margin-top: 575px;
    color: var(--black);
    border-radius: 30px;
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    cursor: pointer;
}

h1 {
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    text-transform: uppercase;
    background-color: var(--yellow);
    color: var(--black);
    display: inline-block;
    padding: 5px;
}

h2 {
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    text-transform: uppercase;
    color: var(--white);
}

h3 {
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 45px;
    text-transform: uppercase;
    color: var(--white);
}

p {
    font-family: 'AmnestyTradeGothic';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--white);
}

/* BASICS SLUT */


/* KNAPPER START */
.button_1 {
    padding: 12px 40px;
    position: absolute;
    top: 17%; 
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.button_1:hover {
    color: var(--yellow);
    background-color: var(--black)
}

.button_2 {
    padding: 12px 80px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.button_2:hover {
    color: var(--yellow);
    background-color: var(--black)
}

.button_3 {padding: 12px 80px;
    position: absolute;
    top: 120%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.button_3:hover {
    color: var(--yellow);
    background-color: var(--black)
}

.button_4 {
    padding: 12px 80px;
    position: absolute;
    top: 120%;
    left: 80%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.button_4:hover {
    color: var(--yellow);
    background-color: var(--black)
}

.continue_button {
    padding: 12px 70px;
    position: absolute;
    top: 227%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.continue_button:hover {
    color: var(--yellow);
    background-color: var(--black)
}

.ida_valg1_knap {
    padding: 12px 80px;
    position: absolute;
    top: 275%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.ida_valg1_knap:hover {
    color: var(--yellow);
    background-color: var(--black)
}

.ida_valg2_knap {
    padding: 12px 80px;
    position: absolute;
    top: 291%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.ida_valg2_knap:hover {
    color: var(--yellow);
    background-color: var(--black)
}

.ida_valg3_knap {
    padding: 12px 80px;
    position: absolute;
    top: 308%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.ida_valg3_knap:hover {
    color: var(--yellow);
    background-color: var(--black)
}


.ida_valg4_knap {
    padding: 12px 80px;
    position: absolute;
    top: 326%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.ida_valg4_knap:hover {
    color: var(--yellow);
    background-color: var(--black)
}


/* KNAPPER SLUT */
.choices {
    text-align: left;
    max-width: 600px;
    margin-left: 180px; /* Skubber valgene mod venstre */
    transform: translateY(45%); /* Flytter containeren 50% op for at centrere */
    display: flex;
    flex-direction: column;
    gap: 30px; /* Skaber ensartet afstand mellem alle valg */
}

.choice p {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Sikrer at teksten starter til venstre */
    gap: 10px; /* Lidt afstand mellem teksten og ikonerne */
}

.choicebutton {
    background: yellow;
    border: 1px solid var(--yellow);
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    text-align: left; /* Sørger for at teksten på knappen også er venstrejusteret */
    padding: 12px 80px;
    transition: all .5s ease;
}

.choicebutton:hover {
    color: var(--yellow);
    background-color: var(--black)
}

.choice img {
    width: 20px; /* Juster ikonernes størrelse */
    height: auto;
    cursor: pointer; /* Gør dem klikbare */
}


/* LANDING PAGE START */
.container {
    position: relative;
    width: 400px;
    height: 400px;
    top: 37%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.piece {
    position: absolute;
    opacity: 0;
    animation: flyIn 1.5s ease-out forwards;
}

.piece:nth-child(1) { top: -60px; left: 30px; animation-delay: 0.2s; }
.piece:nth-child(2) { top: 80px; left: -50px; animation-delay: 0.4s; }
.piece:nth-child(3) { bottom: -120px; left: 80px; animation-delay: 0.6s; }
.piece:nth-child(4) { bottom: -50px; right: 20px; animation-delay: 0.8s; }
.piece:nth-child(5) { bottom: 70px; right: 150px; animation-delay: 1.0s; }
.piece:nth-child(6) { bottom: 330px; right: 50px; animation-delay: 1.2s; }
.piece:nth-child(7) { bottom: 150px; left: 200px; animation-delay: 1.4s; }
.piece:nth-child(8) { bottom: 170px; right: 20px; animation-delay: 1.6s; }
.piece:nth-child(9) { bottom: 190px; right: 210px; animation-delay: 1.8s; }
.piece:nth-child(10) { bottom: -50px; right: 300px; animation-delay: 2.0s; }
.piece:nth-child(11) { bottom: 330px; right: 150px; animation-delay: 2.2s; }

@keyframes flyIn {
    0% { transform: translate(0, 0); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}

.heading_1 {
    position: absolute;
    top: 6%;  
    left: 5%;
}

.heading_2 {
    position: absolute;
    top: 14%; 
    left: 5%; 
}

.heading_3 {
    position: absolute;
    top: 22%; 
    left: 5%;
}

.handwritten_1 img {
    width: 250px;
    position: absolute;
    top: 14%; 
    left: 68%;
}

.handwritten_2 img {
    width: 250px;
    position: absolute;
    top: 65%; 
    left: 9%;
}

.star_1 {
    color: var(--yellow);
    font-size: 40px;
    position: absolute;
    top: 70%; 
    left: 7%;
}

.star_2 {
    color: var(--yellow);
    font-size: 60px;
    position: absolute;
    top: 60%; 
    left: 5%;
}

.star_3 {
    color: var(--yellow);
    font-size: 60px;
    position: absolute;
    top: 1%; 
    left: 80%;
}

.star_4 {
    color: var(--yellow);
    font-size: 40px;
    position: absolute;
    top: 10%; 
    left: 83%;
}


.number_3 img {
    width: 45px;
    position: absolute;
    top: 65%; 
    left: 62%;
}

.number2_3 img {
    width: 42px;
    position: absolute;
    top: 76%; 
    left: 66%;
}

.letter_l img {
    width: 45px;
    position: absolute;
    top: 65%; 
    left: 67%;
}

.letter_i img {
    width: 25px;
    position: absolute;
    top: 65%; 
    left: 71%;
}

.letter_v img {
    width: 40px;
    position: absolute;
    top: 65%; 
    left: 73.5%;
}

.letter_s img {
    width: 55px;
    position: absolute;
    top: 75%; 
    left: 71%;
}

.letter_k img {
    width: 55px;
    position: absolute;
    top: 76%; 
    left: 75%;
}

.letter_ae img {
    width: 55px;
    position: absolute;
    top: 76%; 
    left: 79.5%;
}

.letter_b img {
    width: 55px;
    position: absolute;
    top: 75.5%; 
    left: 83.5%;
}

.letter_n img {
    width: 47px;
    position: absolute;
    top: 75%; 
    left: 87.5%;
}

.letter_e img {
    width: 47px;
    position: absolute;
    top: 75%; 
    left: 91%;
}

.letter_r img {
    width: 47px;
    position: absolute;
    top: 75%; 
    left: 94%;
}

/* LANDING PAGE SLUT */


/* 3 PERSONER SIDE START */
#more-info {
    height: 134vh;
}

.amnesty-light_1 {
    width: 50px;
    position: absolute;
    top: 100%;
}

.amnesty-light_2 {
    width: 50px;
    position: absolute;
    top: 212%;
}


.light-text_1 {
    position: absolute;
    top: 114%;
}

.light-text_2 {
    position: absolute;
    top: 227%;
}

.light-text_3 {
    position: absolute;
    top: 327%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

th {
    text-align: left;
}

.person_heading {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.adut_portrait {
    width: 300px;
    position: absolute;
    top: 140%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.adut_text {
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 45px;
    text-transform: uppercase;
    color: var(--white);
    position: absolute;
    top: 167%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.adut_bodytext {
    width: 300px;
    position: absolute;
    top: 179%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.josé_portrait {
    width: 300px;
    position: absolute;
    top: 138%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.josé_bodytext {
    width: 300px;
    position: absolute;
    top: 179%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.josé_text {
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 45px;
    text-transform: uppercase;
    color: var(--white);
    position: absolute;
    top: 167%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ida_portrait {
    width: 340px;
    position: absolute;
    top: 140.5%;
    left: 78%;
    transform: translate(-50%, -50%);
}

.ida_text {
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 45px;
    text-transform: uppercase;
    color: var(--white);
    position: absolute;
    top: 167%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.ida_bodytext {
    width: 300px;
    position: absolute;
    top: 179%;
    left: 80%;
    transform: translate(-50%, -50%);
}

/* 3 PERSONER SIDE SLUT */


/* PRÆSENTATION SIDE */
.info-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}


/* Ida */
.ida_heading {
    position: absolute;
    top: 217%;
    left: 52%;
}

.ida_intro {
    width: 450px;
    position: absolute;
    top: 227%;
    left: 52%;
}

.ida_child_1 {
    width: 300px;
    position: absolute;
    top: 230%;
    left: 25%;
}

.safety_pin {
    width: 220px;
    position: absolute;
    top: 218%;
    left: 18.9%;
    z-index: 1000;
}

.letter_i_2 {
    width: 35px;
    position: absolute;
    top: 278%; 
    left: 23%;
    rotate: 10deg;
}

.letter_d {
    width: 60px;
    position: absolute;
    top: 279%; 
    left: 26%;
    rotate: 5deg;
}

.letter_a {
    width: 50px;
    position: absolute;
    top: 278%; 
    left: 30.5%;
    rotate: 5deg;
}

.ida_handwritten {
    width: 200px;
    position: absolute;
    top: 260%; 
    left: 8%;
}

.replay_icon {
    width: 37px;
    position: absolute;
    top: 287%; 
    left: 77.5%;
    cursor: pointer;
}

.start_icon {
    width: 37px;
    position: absolute;
    top: 287%; 
    left: 74.5%;
    cursor: pointer;
}

.question_mark_icon {
    width: 31px;
    position: absolute;
    top: 286.5%; 
    left: 81%;
    cursor: pointer;
}

.exclamation_mark_1 {
    width: 20px;
    position: absolute;
    top: 225%; 
    left: 86%;
    rotate: 30deg;
}

.exclamation_mark_2 {
    width: 40px;
    position: absolute;
    top: 215%; 
    left: 83%;
    rotate: 10deg;
}

/* PRÆSENTATION SLUT */


.second-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.amnesty-light_3 {
    width: 50px;
    position: absolute;
    top: 312%;
}



/* Ida valg 1 */


.info4_heading {
    position: absolute;
    top: 320%;
    left: 13%;
}

.info4_choice1 {
    position: absolute;
    top: 334%;
    left: 13%;
}

.info4_choice2 {
    position: absolute;
    top: 351%;
    left: 13%;
}

.info4_choice3 {
    position: absolute;
    top: 368%;
    left: 13%;
}

.info4_choice4 {
    position: absolute;
    top: 385%;
    left: 13%;
}

.ida_teenager {
    width: 300px;
    position: absolute;
    top: 340%;
    left: 63%;
}

.clips_silver {
    width: 250px;
    position: absolute;
    top: 320%;
    left: 65%;
}

.choice4_letter_s {
    width: 50px;
    position: absolute;
    top: 390%;
    left: 56%;
}

.choice4_letter_k {
    width: 50px;
    position: absolute;
    top: 392%;
    left: 60%;
}

.choice4_letter_a {
    width: 50px;
    position: absolute;
    top: 390%;
    left: 64%;
}

.choice4_letter_m {
    width: 50px;
    position: absolute;
    top: 392%;
    left: 68%;
}

.choice1_replay, .choice1_starticon, .choice2_replay, .choice2_starticon, .choice3_replay, .choice3_starticon, .choice4_replay, .choice4_starticon {
    width: 30px;
}

.third-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.corner_light {
    display: flex;
    flex-direction: column; /* Stabler elementerne lodret */
    align-items: flex-start; /* Placerer dem i venstre hjørne */
    text-align: left;
    margin-top: 5px;
}

.amnesty-light_1, .amnesty-light_2, .amnesty-light_3, .amnesty-light_4, .amnesty-light_5, .amnesty-light_6, .amnesty-light_7 {
    width: 50px; /* Juster størrelsen efter behov */
    height: auto;
    padding: 15px;
}

.light-text_1, .light-text_2, .light-text_3, .light-text_4, .light-text_5, .light-text_6, .light-text_7 {
    font-family: 'AmnestyTradeGothic';
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--white);
    margin-top: 5px; /* Giver lidt luft mellem billedet og teksten */
    margin-left: 25px;
}

.third-section-wrapper {
    width: 400px; /* eller hvad du ønsker */
    margin-left: auto;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrerer teksten vertikalt */
    align-items: flex-start; /* Holder teksten venstrejusteret */
    align-items: flex-end; /* sørger for, at knapperne er til højre */
    padding: 1rem; /* lidt padding omkring */
  }
  

.third-section-text {
    width: 450px;
    position: absolute;
    top: 420%;
    left: 60%;
}

.third-section_replayicon {
    width: 37px;
    position: absolute;
    top: 493%; 
    left: 90%;
    cursor: pointer;
  }

  .third-section_starticon {
    width: 37px;
    position: absolute;
    top: 493%; 
    left: 87%;
    cursor: pointer;
  }
  

.third-section_ida-teenager {
    width: 300px;
    position: absolute;
    top: 443%; 
    left: 28.5%;
    z-index: 10;
}

.third-section_ida-child {
    width: 300px;
    position: absolute;
    top: 425%; 
    left: 13.5%;
}

.third-section_tape1 {
    width: 200px;
    position: absolute;
    top: 436%; 
    left: 40.5%;
    z-index: 100;
}

.third-section_tape2 {
    width: 170px;
    position: absolute;
    top: 418%; 
    left: 10.5%;
    z-index: 100;
}

.third-section_letter-s {
    width: 50px;
    position: absolute;
    top: 490%; 
    left: 8%;
    z-index: 200;
}

.third-section_letter-m {
    width: 50px;
    position: absolute;
    top: 490%; 
    left: 12%;
    z-index: 200;
}

.third-section_letter-e {
    width: 50px;
    position: absolute;
    top: 490%; 
    left: 16%;
    z-index: 200;
}

.third-section_letter-r {
    width: 50px;
    position: absolute;
    top: 490%; 
    left: 20%;
    z-index: 200;
}

.third-section_letter-t {
    width: 35px;
    position: absolute;
    top: 490%; 
    left: 24%;
    z-index: 200;
}

.third-section_letter-e2 {
    width: 50px;
    position: absolute;
    top: 490%; 
    left: 27%;
    z-index: 200;
}

.third-section_button {
    padding: 12px 70px;
    position: absolute;
    top: 427%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.third-section_button:hover {
    color: var(--yellow);
    background-color: var(--black)
}
    

.fourth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.brokenHeart, .wholeHeart {
    width: 100px;
    position: absolute;
    top: 467%;
    left: 15%;
}


.fifth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.sixth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.seventh-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.info9_choice1 {
        position: absolute;
        top: 537%;
        left: 13%;
    }

.dilemma2_choice1_button {
    padding: 12px 80px;
    position: absolute;
    top: 478%;
    left: 19%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.dilemma2_choice1_button:hover {
    color: var(--yellow);
    background-color: var(--black)
}
    
.info9_choice2 {
        position: absolute;
        top: 570%;
        left: 13%;
    }

.dilemma2_choice2_button {
    padding: 12px 80px;
    position: absolute;
    top: 511%;
    left: 19%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.dilemma2_choice2_button:hover {
    color: var(--yellow);
    background-color: var(--black)
}
.ida_cat_image {
    width: 350px;
    position: absolute;
    top: 540%;
    left: 60%;
}

.seventh-section_replayicon {
    width: 23px;
    position: absolute;
    top: 538.5%; 
    left: 40%;
}

.seventh-section_starticon {
    width: 23px;
    position: absolute;
    top: 538.5%; 
    left: 38%;
}

.seventh-section_replayicon2 {
    width: 23px;
    position: absolute;
    top: 572%; 
    left: 46%;
}

.seventh-section_starticon2 {
    width: 23px;
    position: absolute;
    top: 572%; 
    left: 44%;
}

.seventh-section_safety_pin {
    width: 220px;
    position: absolute;
    top: 527%;
    left: 75%;
    z-index: 1000;
    rotate: 40deg;
}

.seventh-section_lettera {
    width: 55px;
    position: absolute;
    top: 580%; 
    left: 55%;
}

.seventh-section_letterf {
    width: 45px;
    position: absolute;
    top: 580%; 
    left: 59%;
}

.seventh-section_letterm {
    width: 70px;
    position: absolute;
    top: 580%; 
    left: 62.3%;
}

.seventh-section_lettera2 {
    width: 55px;
    position: absolute;
    top: 580%; 
    left: 67%;
}

.seventh-section_letterg {
    width: 50px;
    position: absolute;
    top: 580%; 
    left: 71%;
}

.seventh-section_lettert {
    width: 35px;
    position: absolute;
    top: 580%; 
    left: 75%;
}

.eight-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.eight-section_replayicon {
    width: 30px;
    position: absolute;
    top: 538.5%; 
    left: 38.5%;
}

.eight-section_starticon {
    width: 30px;
    position: absolute;
    top: 538.5%; 
    left: 36%;
}


.eight-section_replayicon2 {
    width: 30px;
    position: absolute;
    top: 571%; 
    left: 46.5%;
}

.eight-section_starticon2 {
    width: 30px;
    position: absolute;
    top: 571%; 
    left: 44%;
}

.ninth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.ninth-section_starticon {
    width: 30px;
    position: absolute;
    top: 538.5%; 
    left: 47%;
}

.ninth-section_replayicon {
    width: 30px;
    position: absolute;
    top: 538.5%; 
    left: 49.5%;
}

.ninth-section_starticon2 {
    width: 30px;
    position: absolute;
    top: 571%; 
    left: 41%;
}

.ninth-section_replayicon2 {
    width: 30px;
    position: absolute;
    top: 571%; 
    left: 43.5%;
}

.tenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.tenth-section_starticon {
    width: 30px;
    position: absolute;
    top: 538.5%; 
    left: 38%;
}

.tenth-section_replayicon {
    width: 30px;
    position: absolute;
    top: 538.5%; 
    left: 40.5%;
}

.tenth-section_starticon2 {
    width: 30px;
    position: absolute;
    top: 571%; 
    left: 35%;
}

.tenth-section_replayicon2 {
    width: 30px;
    position: absolute;
    top: 571%; 
    left: 37.5%;
}

.eleventh-section-text {
    width: 450px;
    position: absolute;
    top: 622%;
    left: 60%;
}

.eleventh-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.eleventh-section_letterf {
    width: 42px;
    position: absolute;
    top: 685%; 
    left: 19.5%;
    z-index: 5;
}

.eleventh-section_letterr {
    width: 45px;
    position: absolute;
    top: 685%; 
    left: 23%;
    z-index: 5;
}

.eleventh-section_lettery {
    width: 45px;
    position: absolute;
    top: 685%; 
    left: 26.5%;
    z-index: 5;
}

.eleventh-section_letterg {
    width: 45px;
    position: absolute;
    top: 685%; 
    left: 30%;
    z-index: 5;
}

.eleventh-section_lettert {
    width: 35px;
    position: absolute;
    top: 685%; 
    left: 34%;
    z-index: 5;
}

.eleventh-section_image_1 {
    width: 370px;
    position: absolute;
    top: 655%; 
    left: 28.5%;
    z-index: 2;
    transform: scaleX(-1);
}

.eleventh-section_image_2 {
    width: 260px;
    position: absolute;
    top: 625%; 
    left: 14.5%;
}

.last_button {
    padding: 12px 70px;
    position: absolute;
    top: 627%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
}

.last_button:hover {
    color: var(--yellow);
    background-color: var(--black)
}

.eleventh-section_tape1 {
    width: 200px;
    position: absolute;
    top: 648%; 
    left: 45.5%;
    z-index: 100;
}

.eleventh-section_tape2 {
    width: 170px;
    position: absolute;
    top: 618%; 
    left: 10.5%;
    z-index: 100;
}

.eleventh-section_replayicon {
    width: 37px;
    position: absolute;
    top: 693%; 
    left: 90%;
    cursor: pointer;
}

.eleventh-section_starticon {
    width: 37px;
    position: absolute;
    top: 693%; 
    left: 87%;
    cursor: pointer;
}

.twelfth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.thirteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.fourteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.fifteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.sixteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.seventeenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.eighteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.nineteenth-section {
    display: none; /* Skjult som standard */
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.nineteenth-section_portrait {
    width: 300px;
    position: absolute;
    top: 732%; 
    left: 21%;
}

.nineteenth-section_clips {
    width: 250px;
    position: absolute;
    top: 710%; 
    left: 23%;
    z-index: 10;
}

.nineteenth-section_letter-s {
    width: 50px;
    position: absolute;
    top: 775%; 
    left: 14.5%;
    z-index: 200;
}

.nineteenth-section_letter-t {
    width: 30px;
    position: absolute;
    top: 775%; 
    left: 18.5%;
    z-index: 200;
}

.nineteenth-section_letter-oe {
    width: 50px;
    position: absolute;
    top: 775%; 
    left: 21%;
    z-index: 200;
}

.nineteenth-section_letter-t2 {
    width: 30px;
    position: absolute;
    top: 775%; 
    left: 25%;
    z-index: 200;
}

.nineteenth-section_letter-t3 {
    width: 30px;
    position: absolute;
    top: 775%; 
    left: 27.5%;
    z-index: 200;
}

.nineteenth-section_letter-e {
    width: 50px;
    position: absolute;
    top: 775%; 
    left: 30%;
    z-index: 200;
}

.nineteenth-section_text {
    width: 430px;
    position: absolute;
    top: 721%; 
    left: 55%;
}

.nineteenth-section_replayicon {
    width: 37px;
    position: absolute;
    top: 782%; 
    left: 83%;
    cursor: pointer;
}

.nineteenth-section_starticon {
    width: 37px;
    position: absolute;
    top: 782%; 
    left: 80%;
    cursor: pointer;
}

.share-result_button {
    color: var(--black);
    border-radius: 30px;
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    text-decoration: none;
    position: absolute;
    top: 798%; 
    left: 23%;
    transform: translate(-50%, -50%);
    padding: 12px 55px;
    cursor: pointer;
}

.share-result_button:hover {
    color: var(--yellow);
    background-color: var(--black)
}

.similar-stories_button {
    color: var(--yellow);
    border-radius: 30px;
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    background-color: var(--black);
    border: 1px solid var(--yellow);
    text-decoration: none;
    position: absolute;
    top: 798%; 
    left: 39%;
    transform: translate(-50%, -50%);
    padding: 12px 30px;
}

.similar-stories_button:hover {
    color: var(--black);
    background-color: var(--yellow)
}

.become-volunteer_button {
    color: var(--black);
    border-radius: 30px;
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    text-decoration: none;
    position: absolute;
    top: 798%; 
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 12px 55px;
}

.become-volunteer_button:hover {
    color: var(--yellow);
    background-color: var(--black)
}

.try-again_button {
    width: 45px;
    position: absolute;
    top: 795%;
    left: 80%;
}

.turn-on-light_button {
    color: var(--yellow);
    border-radius: 30px;
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    background-color: var(--black);
    border: 1px solid var(--yellow);
    text-decoration: none;
    position: absolute;
    top: 798%; 
    left: 71%;
    transform: translate(-50%, -50%);
    padding: 12px 55px;
}

.turn-on-light_button:hover {
    color: var(--black);
    background-color: var(--yellow)
}

#Ida_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

#Ida_popup p {
    color: var(--black);
}

#Jose_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

#Jose_popup p {
    color: var(--black);
}

#Adut_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
}

#Adut_popup p {
    color: var(--black);
}

.popup2_ida {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1000;
}

.popup2_ida p {
    color: var(--black);
}

.popup2_jose {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1000;
}

.popup2_jose p {
    color: var(--black);
}

.popup2_adut {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1000;
}

.popup2_adut p {
    color: var(--black);
}

.closeBtn, .downloadBtn {
    background: var(--yellow);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'AmnestyTradeGothic';
}

.closeBtn2 {
    background: var(--yellow);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'AmnestyTradeGothic';
    display: flex;
    justify-content: center;
    margin-left: 45%;
}
.popup2_playbutton {
   padding-bottom: 40px;
   padding-top: 5px;
}

.popup2_replaybutton {
    padding-top: 5px;
    padding-bottom: 40px;
 }




/* JOSE SEKTIONER STARTER HER */

.Jose_info-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-second-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-third-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-fourth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-fifth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-sixth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-seventh-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-eight-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-ninth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-tenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-eleventh-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-twelfth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-thirteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-fourteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-fifteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-sixteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-seventeenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Jose-nineteenth-section {
    display: none; /* Skjult som standard */
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.jose-eleventh-section_image_1 {
    width: 300px;
    position: absolute;
    top: 655%; 
    left: 34%;
    z-index: 2;
}

.jose-eleventh-section_image_2 {
    width: 370px;
    position: absolute;
    top: 625%; 
    left: 14.5%;
}

/* JOSE SEKTIONER SLUTTER HER */



/* JOSE FØRSTE SEKTION STARTER HER */
.jose_intro {
    width: 450px;
    position: absolute;
    top: 227%;
    left: 52%;
}

.letter_j {
    width: 45px;
    position: absolute;
    top: 280%; 
    left: 22%;
}

.letter_o {
    width: 55px;
    position: absolute;
    top: 282%; 
    left: 25%;
}

.letter_s_2 {
    width: 55px;
    position: absolute;
    top: 282%; 
    left: 29%;
}

.letter_e_2 {
    width: 55px;
    position: absolute;
    top: 282%; 
    left: 33%;
}

/* JOSE FØRSTE SEKTION SLUTTER HER */

/* JOSE ANDEN SEKTION STARTER HER */
.Jose-second-section_image {
    width: 500px;
    position: absolute;
    top: 340%;
    left: 56%;
}

/* JOSE ANDEN SEKTION SLUTTER HER */


/* JOSE TREDJE SEKTION STARTER HER */
.third-section_jose-child {
    width: 300px;
    position: absolute;
    top: 425%; 
    left: 13.5%;
}

.third-section_jose-image {
    width: 350px;
    position: absolute;
    top: 443%; 
    left: 28%;
    z-index: 10;
}

.Jose-2-dilemma-image {
    width: 350px;
    position: absolute;
    top: 530%; 
    left: 60%;
    z-index: 0;
}


/* ADUT SEKTIONER STARTER HER */

.Adut_info-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-second-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-third-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-fourth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-fifth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-sixth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-seventh-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-eight-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-ninth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-tenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-eleventh-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-twelfth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-thirteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-fourteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-fifteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-sixteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-seventeenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-eighteenth-section {
    display: none; /* Skjult som standard */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.Adut-nineteenth-section {
    display: none; /* Skjult som standard */
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}


/* ADUT SEKTIONER SLUTTER HER */



/* ADUT FØRSTE SEKTION STARTER HER */

.adut_intro {
    width: 450px;
    position: absolute;
    top: 227%;
    left: 52%;
}

.adut_child_1 {
    width: 280px;
    position: absolute;
    top: 230%;
    left: 25%;
}

.letter_a_adut {
    width: 55px;
    position: absolute;
    top: 276%; 
    left: 21%;
    rotate: 5deg;
}

.letter_d_adut {
    width: 65px;
    position: absolute;
    top: 278%; 
    left: 24.5%;
    rotate: 5deg;
}

.letter_u_adut {
    width: 65px;
    position: absolute;
    top: 278%; 
    left: 29%;
    rotate: 5deg;
}

.letter_t_adut {
    width: 35px;
    position: absolute;
    top: 278%; 
    left: 34%;
    rotate: 5deg;
}



/* ADUT FØRSTE SEKTION SLUTTER HER */

/* ADUT ANDEN SEKTION STARTER HER */

.Adut-second-section_image {
    width: 400px;
    position: absolute;
    top: 340%;
    left: 60%;
}

/* ADUT ANDEN SEKTION SLUTTER HER */



/* ADUT TREDJE SEKTION STARTER HER */

.third-section_adut-friends {
    width: 300px;
    position: absolute;
    top: 425%; 
    left: 13.5%;
    z-index: 10;
}

.third-section_adut-sister {
    width: 250px;
    position: absolute;
    top: 443%; 
    left: 32%;
}

.adut_third-section-text {
    width: 460px;
    position: absolute;
    top: 420%;
    left: 63%;
}

/* ADUT TREDJE SEKTION SLUTTER HER */


.Adut-2-dilemma-image {
    width: 300px;
    position: absolute;
    top: 530%; 
    left: 63%;
}

.seventh-section_safety_pin_adut {
    width: 220px;
    position: absolute;
    top: 517%;
    left: 75%;
    z-index: 1000;
    rotate: 40deg;
}


