:root {
    --yellow: #FFFF00;
    --black: #111;
}

@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('fonts/AmnestyTradeGothic-BdCn20.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('fonts/AmnestyTradeGothic-Cn18.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('fonts/AmnestyTradeGothic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AmnestyTradeGothic';
    src: url('fonts/AmnestyTradeGothic-Cn18Obl.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}



body {
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
            
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
}

.piece {
    position: absolute;
    opacity: 0;
    animation: flyIn 1.5s ease-out forwards;
}

/* Forskellige startpositioner */
.piece:nth-child(1) { top: -100px; left: 10px; animation-delay: 0.2s; }
.piece:nth-child(2) { top: 50px; left: -150px; animation-delay: 0.4s; }
.piece:nth-child(3) { bottom: -100px; left: 100px; animation-delay: 0.6s; }
.piece:nth-child(4) { bottom: -120px; right: -20px; animation-delay: 0.8s; }
.piece:nth-child(5) { bottom: 150px; right: 170px; animation-delay: 1.0s; }
.piece:nth-child(6) { bottom: 350px; right: 20px; animation-delay: 1.2s; }
.piece:nth-child(7) { bottom: 70px; left: 250px; animation-delay: 1.4s; }
.piece:nth-child(8) { bottom: 150px; right: -150px; animation-delay: 1.6s; }
.piece:nth-child(9) { bottom: 170px; right: 300px; animation-delay: 1.8s; }
.piece:nth-child(10) { bottom: -80px; right: 320px; animation-delay: 2.0s; }
.piece:nth-child(11) { bottom: 350px; right: 150px; animation-delay: 2.2s; }

@keyframes flyIn {
    0% { transform: translate(0, 0); opacity: 0; }
    100% { transform: translate(0, 0); opacity: 1; }
}

.tester {
    font-family: 'AmnestyTradeGothic', sans-serif;;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    letter-spacing: 2px;
}

.tester2 {
    font-family: 'AmnestyTradeGothic', sans-serif;;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
}

.tester3 {
    font-family: 'AmnestyTradeGothic', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 18px;
}

.link {
    font-family: 'AmnestyTradeGothic', sans-serif;
    font-weight: 100;
    font-style: normal;
    color: var(--yellow);
}

button {
    padding: 12px 24px;
    color: var(--black);
    border-radius: 0;
    font-family: 'AmnestyTradeGothic';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
}